body {
    text-align: center;
}

.tCenter{
	display: block;
	text-align: center;
}

#myBtn{
	background-color: #183668;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;	
    font-size: 16px;
}

.thumbnail{
	display: inline-block;
	border: 3px solid #183668;
	width: 200px;
	margin: 20px;
}

.thumbnail:hover {
	background-color: rgba(97, 153, 244, 0.3);
}


/*JQuery Modal*/

/* The Modal (background) */
.modal {
    display: inline-block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}